.gradle
*.sw?
.#*
*#
*~
/build
/code
.classpath
.project
.settings
.metadata
.factorypath
.recommenders
src/main/resources/GermaNER/*
bin
build
lib/
target
.springBeans
interpolated*.xml
dependency-reduced-pom.xml
build.log
_site/
.*.md.html
manifest.yml
MANIFEST.MF
settings.xml
activemq-data
overridedb.*
*.iml
*.ipr
*.iws
.idea
*.jar
!src/main/resources/GermaNER/GermaNER-train.jar
.DS_Store
dump.rdb
transaction-logs
