.gradle
*.sw?
.#*
*#
*~
/build
/code
.classpath
.project
.settings
.metadata
.factorypath
.recommenders
src/main/resources/GermaNER/data.zip
bin
!crfsuite/windows_x86_32/bin
!crfsuite/osx_x86_64/bin
build
lib/
target
.springBeans
interpolated*.xml
dependency-reduced-pom.xml
build.log
_site/
.*.md.html
manifest.yml
MANIFEST.MF
!src/main/resources/GermaNER/model/MANIFEST.MF
settings.xml
activemq-data
overridedb.*
*.iml
*.ipr
*.iws
.idea
*.jar
!src/main/resources/GermaNER/model/model.jar
.DS_Store
dump.rdb
transaction-logs
